* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(15, 15, 15, 0.9);
}

button {
  color: #88c0d0;
  border-color: #2e3440;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  background-color: #3b4252;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

button:focus,
button:active,
button:hover {
  color: #2e3440;
  border-color: #81a1c1;
  background-color: #88c0d0;
  outline-style: none;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
